In [3]:
import pandas as pd
import os
print(os.getcwd())
os.chdir('C:/Users/hp/Desktop/tutorial/kaim-week-2/')

C:\Users\hp\Desktop\tutorial\kaim-week-2

In [4]:
%load_ext autoreload
%autoreload 2

In [6]:
data_path = 'C:/Users/hp/Desktop/tutorial/kaim-week-2/data/cleaned_data.csv'
data=pd.read_csv(data_path)
data.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [15]:
from scripts.engagement_score import engagement_scores
clustered_data=engagement_scores(data)

# Print the DataFrame with the calculated scores
print(clustered_data[['Bearer Id', 'cluster', 'Engagement Score', 'Experience Score']])

          Bearer Id  cluster  Engagement Score  Experience Score
0      1.311448e+19        1         63.939034         66.104308
1      1.311448e+19        1         71.317454         72.646124
2      1.311448e+19        1        111.659376        110.599238
3      1.311448e+19        1        126.598097        126.758236
4      1.311448e+19        1        111.659376        110.599238
...             ...      ...               ...               ...
84080  7.349883e+18        1         88.302867         91.312424
84081  7.349883e+18        1         56.623458         59.378189
84082  1.311448e+19        1         89.075436         91.603977
84083  1.311448e+19        1         81.101887         84.003649
84084  7.349883e+18        1         90.697891         93.824859

[84085 rows x 4 columns]

In [29]:
from scripts.engagement_score import satisfaction_score
top_10_satisfied = satisfaction_score(data)
#top_10_satisfied.head()

top_10_satisfied.head(10)[['Bearer Id', 'cluster', 'Engagement Score', 'Experience Score', 'Satisfaction Score']]

,Bearer Id,cluster,Engagement Score,Experience Score,Satisfaction Score
59821,1.304243e+19,0,378180.847982,378182.917475,378181.882728
61145,7.277826e+18,0,299339.543160,299341.673611,299340.608386
60964,7.277826e+18,0,299298.060640,299300.140881,299299.100760
61410,7.277826e+18,0,276040.843999,276042.902630,276041.873315
58375,7.277826e+18,0,269447.485491,269449.579907,269448.532699
36573,1.304243e+19,0,266354.331439,266356.404807,266355.368123
59238,1.304243e+19,0,265468.021523,265470.097387,265469.059455
58205,7.277826e+18,0,264449.680837,264451.740296,264450.710567
17217,7.277826e+18,0,263275.668046,263277.789757,263276.728901
25839,1.304243e+19,0,254274.673561,254276.747905,254275.710733

In [56]:
from scripts.engagement_score import regression_model
all_user_data = data[['Avg RTT DL (ms)', 'Avg RTT UL (ms)', 'Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)','Satisfaction Score']]

predictions, mae_error= regression_model(all_user_data)
print('The mean absolute error is: ', mae_error)

The mean absolute error is:  292.1260752473359

In [50]:
print('predictions of the User Satisfactory score is:\n', pd.DataFrame(predictions).head(10))

predictions of the User Satisfactory score is:
               0
0     85.646149
1     66.462837
2     84.448563
3  10159.350586
4  39628.828125
5     50.711960
6     86.679077
7  23199.660156
8    109.495911
9     72.487167

In [72]:
from scripts.engagement_score import engagement_experience_cluster
engagement_experience_clusters = engagement_experience_cluster(data)

print(engagement_experience_clusters[['Bearer Id', 'Engagement Score', 'Experience Score', 'eng_exp_Cluster','cluster']].head(10))

      Bearer Id  Engagement Score  Experience Score  eng_exp_Cluster  cluster
0  1.311448e+19         63.939034         66.104308                1        1
1  1.311448e+19         71.317454         72.646124                1        1
2  1.311448e+19        111.659376        110.599238                1        1
3  1.311448e+19        126.598097        126.758236                1        1
4  1.311448e+19        111.659376        110.599238                1        1
5  1.311448e+19        140.971530        141.614238                1        1
6  1.311448e+19        110.546315        111.705292                1        1
7  1.304243e+19       3720.046538       3722.237063                1        1
8  1.311448e+19        129.049083        129.304395                1        1
9  1.304243e+19       4604.618181       4607.274863                1        1

      Bearer Id  Engagement Score  Experience Score  eng_exp_Cluster  cluster
0  1.311448e+19         63.939034         66.104308                1        1
1  1.311448e+19         71.317454         72.646124                1        1
2  1.311448e+19        111.659376        110.599238                1        1
3  1.311448e+19        126.598097        126.758236                1        1
4  1.311448e+19        111.659376        110.599238                1        1

In [70]:
from scripts.engagement_score import aggregate_sat_exp
aggregated_score=aggregate_sat_exp(data)
pd.DataFrame(aggregated_score).head()

   eng_exp_Cluster  Satisfaction Score  Experience Score
0                0        60425.934065      60427.047056
1                1         8858.291267       8859.171747