In [3]:
import pandas as pd
import os
import sys

In [11]:
%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [12]:
%autoreload 2

In [14]:
path = 'data/Copy of Week2_challenge_data_source(CSV).csv'
print(os.getcwd())
os.chdir('c:/Users/hp/Desktop/tutorial/kaim-week-2/')

c:\Users\hp\Desktop\tutorial\kaim-week-2

In [18]:
from scripts.data_cleaning import data_extraction
data=data_extraction(path)

In [19]:
data.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [21]:
data.shape

(150001, 55)

In [54]:
print(data.isnull().sum()['Bearer Id'])
print(len(data))
count_miss=data.isnull().mean()*100
print(count_miss)

991
150001
Bearer Id                                    0.660662
Start                                        0.000667
Start ms                                     0.000667
End                                          0.000667
End ms                                       0.000667
Dur. (ms)                                    0.000667
IMSI                                         0.379997
MSISDN/Number                                0.710662
IMEI                                         0.381331
Last Location Name                           0.768662
Avg RTT DL (ms)                             18.552543
Avg RTT UL (ms)                             18.541210
Avg Bearer TP DL (kbps)                      0.000667
Avg Bearer TP UL (kbps)                      0.000667
TCP DL Retrans. Vol (Bytes)                 58.763608
TCP UL Retrans. Vol (Bytes)                 64.432237
DL TP < 50 Kbps (%)                          0.502663
50 Kbps < DL TP < 250 Kbps (%)               0.502663
250 Kbps < DL TP < 1 Mbps (%)                0.502663
DL TP > 1 Mbps (%)                           0.502663
UL TP < 10 Kbps (%)                          0.527996
10 Kbps < UL TP < 50 Kbps (%)                0.527996
50 Kbps < UL TP < 300 Kbps (%)               0.527996
UL TP > 300 Kbps (%)                         0.527996
HTTP DL (Bytes)                             54.315638
HTTP UL (Bytes)                             54.539636
Activity Duration DL (ms)                    0.000667
Activity Duration UL (ms)                    0.000667
Dur. (ms).1                                  0.000667
Handset Manufacturer                         0.381331
Handset Type                                 0.381331
Nb of sec with 125000B < Vol DL             65.024900
Nb of sec with 1250B < Vol UL < 6250B       61.928920
Nb of sec with 31250B < Vol DL < 125000B    62.390251
Nb of sec with 37500B < Vol UL              86.835421
Nb of sec with 6250B < Vol DL < 31250B      58.877607
Nb of sec with 6250B < Vol UL < 37500B      74.561503
Nb of sec with Vol DL < 6250B                0.503330
Nb of sec with Vol UL < 1250B                0.528663
Social Media DL (Bytes)                      0.000000
Social Media UL (Bytes)                      0.000000
Google DL (Bytes)                            0.000000
Google UL (Bytes)                            0.000000
Email DL (Bytes)                             0.000000
Email UL (Bytes)                             0.000000
Youtube DL (Bytes)                           0.000000
Youtube UL (Bytes)                           0.000000
Netflix DL (Bytes)                           0.000000
Netflix UL (Bytes)                           0.000000
Gaming DL (Bytes)                            0.000000
Gaming UL (Bytes)                            0.000000
Other DL (Bytes)                             0.000000
Other UL (Bytes)                             0.000000
Total UL (Bytes)                             0.000667
Total DL (Bytes)                             0.000667
dtype: float64

In [59]:
from scripts.data_cleaning import cleaning_data
data_cleaned = cleaning_data(data)

The data after being Cleaned

In [60]:
print(data_cleaned.isnull().sum())

Bearer Id                         0
Start                             0
Start ms                          0
End                               0
End ms                            0
Dur. (ms)                         0
IMSI                              0
MSISDN/Number                     0
IMEI                              0
Last Location Name                0
Avg RTT DL (ms)                   0
Avg RTT UL (ms)                   0
Avg Bearer TP DL (kbps)           0
Avg Bearer TP UL (kbps)           0
DL TP < 50 Kbps (%)               0
50 Kbps < DL TP < 250 Kbps (%)    0
250 Kbps < DL TP < 1 Mbps (%)     0
DL TP > 1 Mbps (%)                0
UL TP < 10 Kbps (%)               0
10 Kbps < UL TP < 50 Kbps (%)     0
50 Kbps < UL TP < 300 Kbps (%)    0
UL TP > 300 Kbps (%)              0
Activity Duration DL (ms)         0
Activity Duration UL (ms)         0
Dur. (ms).1                       0
Handset Manufacturer              0
Handset Type                      0
Nb of sec with Vol DL < 6250B     0
Nb of sec with Vol UL < 1250B     0
Social Media DL (Bytes)           0
Social Media UL (Bytes)           0
Google DL (Bytes)                 0
Google UL (Bytes)                 0
Email DL (Bytes)                  0
Email UL (Bytes)                  0
Youtube DL (Bytes)                0
Youtube UL (Bytes)                0
Netflix DL (Bytes)                0
Netflix UL (Bytes)                0
Gaming DL (Bytes)                 0
Gaming UL (Bytes)                 0
Other DL (Bytes)                  0
Other UL (Bytes)                  0
Total UL (Bytes)                  0
Total DL (Bytes)                  0
dtype: int64

In [61]:
data_cleaned.shape

(150001, 45)

We removed 5 columns after cleaning the data

Now we will remove the outliers

In [67]:
from scripts.data_cleaning import remove_outliers

outliers, outlier_removed=remove_outliers(data_cleaned)

Here we can see the outliers

In [69]:
outliers.head(5)

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
92,1.311448e+19,4/22/2019 5:18,467.0,4/25/2019 0:56,829.0,243504.0,2.082018e+14,3.368542e+10,3.556251e+13,D92937B,...,17400892.0,14644405.0,7682779.0,20806551.0,519620584.0,2710989.0,318297673.0,3820483.0,43336429.0,556406594.0
93,1.311448e+19,4/22/2019 6:18,641.0,4/25/2019 0:01,444.0,236570.0,2.082021e+14,3.366132e+10,3.530731e+13,D73605A,...,19431593.0,16964908.0,11758420.0,9907089.0,715350506.0,10250922.0,290582586.0,1716480.0,40719212.0,757526492.0
95,1.311448e+19,4/22/2019 7:38,804.0,4/25/2019 0:01,199.0,231780.0,2.082017e+14,3.361513e+10,3.520031e+13,L73684B,...,7438887.0,13154981.0,753238.0,9887128.0,124180544.0,14967821.0,350039548.0,14932623.0,53052136.0,139043208.0
96,1.311448e+19,4/22/2019 7:54,676.0,4/25/2019 0:01,176.0,230839.0,2.082014e+14,3.366495e+10,8.636750e+13,D73608B,...,3334865.0,14454366.0,17917894.0,1530332.0,293492651.0,1362536.0,495376623.0,11684759.0,30713366.0,329159454.0
97,7.349883e+18,4/22/2019 8:00,810.0,4/25/2019 2:22,294.0,238915.0,2.082010e+14,3.366403e+10,3.586111e+13,D73605A,...,23039020.0,21457678.0,1114842.0,13958301.0,516508263.0,8432981.0,624397048.0,9207067.0,57680454.0,546747900.0

Here we can see the data without the outliers

In [78]:
outlier_removed.head(5)

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [79]:
outlier_removed.shape
#our data has been reduced to (84085,45)

(84085, 45)

In [106]:
from scripts.aggregate import aggregation_function
data=outlier_removed
session_frequency,session_duration,session_traffic,aggregated_data = aggregation_function(data)
print("Top 10 Customers by Session Frequency:")
session_frequency

Top 10 Customers by Session Frequency:

,MSISDN/Number,Session count,session_duration,Total UL (Bytes),Total DL (Bytes)
62384,4.188282e+10,1066,7.255100e+07,4.436642e+10,4.873783e+11
2930,3.361489e+10,16,9.794111e+06,6.417488e+08,7.966530e+09
5924,3.362578e+10,16,1.833709e+07,6.911395e+08,6.914135e+09
48454,3.376054e+10,15,9.279434e+06,7.034786e+08,7.811295e+09
18274,3.365973e+10,14,3.721110e+06,5.526661e+08,5.893131e+09
6084,3.362632e+10,14,8.216094e+06,5.375867e+08,5.459097e+09
33202,3.366716e+10,13,8.744914e+06,5.663264e+08,5.052068e+09
39061,3.367588e+10,13,4.496262e+06,5.315634e+08,6.311792e+09
61668,3.378632e+10,12,4.059652e+06,4.663303e+08,5.155901e+09
48108,3.376041e+10,12,5.321667e+06,5.215189e+08,6.610852e+09

In [96]:
print("Top 10 Customers by Session duration:")
session_duration

Top 10 Customers by Session duration:

,MSISDN/Number,Session count,session_duration,Total UL (Bytes),Total DL (Bytes)
62384,4.188282e+10,1066,7.255100e+07,4.436642e+10,4.873783e+11
5924,3.362578e+10,16,1.833709e+07,6.911395e+08,6.914135e+09
2930,3.361489e+10,16,9.794111e+06,6.417488e+08,7.966530e+09
48454,3.376054e+10,15,9.279434e+06,7.034786e+08,7.811295e+09
33202,3.366716e+10,13,8.744914e+06,5.663264e+08,5.052068e+09
6084,3.362632e+10,14,8.216094e+06,5.375867e+08,5.459097e+09
25195,3.366284e+10,9,6.614270e+06,4.064244e+08,3.593674e+09
455,3.360313e+10,11,6.128414e+06,4.147042e+08,4.331430e+09
28667,3.366469e+10,8,6.088792e+06,3.566567e+08,4.401306e+09
33705,3.366746e+10,6,5.649882e+06,2.662226e+08,2.334299e+09

In [97]:
print("Top 10 Customers by traffic:")
session_traffic

Top 10 Customers by traffic:

,MSISDN/Number,Session count,session_duration,Total UL (Bytes),Total DL (Bytes),total_traffic (Bytes)
62384,4.188282e+10,1066,7.255100e+07,4.436642e+10,4.873783e+11,5.317447e+11
2930,3.361489e+10,16,9.794111e+06,6.417488e+08,7.966530e+09,8.608279e+09
48454,3.376054e+10,15,9.279434e+06,7.034786e+08,7.811295e+09,8.514774e+09
5924,3.362578e+10,16,1.833709e+07,6.911395e+08,6.914135e+09,7.605275e+09
32027,3.366646e+10,11,4.536757e+06,4.050610e+08,6.903440e+09,7.308501e+09
48108,3.376041e+10,12,5.321667e+06,5.215189e+08,6.610852e+09,7.132371e+09
28723,3.366471e+10,11,2.927785e+06,4.712445e+08,6.400774e+09,6.872018e+09
39061,3.367588e+10,13,4.496262e+06,5.315634e+08,6.311792e+09,6.843356e+09
43803,3.369879e+10,11,5.169128e+06,5.303431e+08,6.010556e+09,6.540899e+09
18274,3.365973e+10,14,3.721110e+06,5.526661e+08,5.893131e+09,6.445797e+09

In [107]:
from scripts.aggregate import kmean_normalized
kmean_data,sorted_dur = kmean_normalized(aggregated_data)
kmean_data.head(40)

,MSISDN/Number,Session count,session_duration,Total UL (Bytes),Total DL (Bytes),total_traffic (Bytes),engagement group
0,3.360100e+10,1,116720.0,36053108.0,8.426375e+08,8.786906e+08,0
1,3.360100e+10,1,181230.0,36104459.0,1.207552e+08,1.568596e+08,0
2,3.360100e+10,1,134969.0,39306820.0,5.566597e+08,5.959665e+08,0
3,3.360101e+10,1,49878.0,20327526.0,4.019932e+08,4.223207e+08,0
4,3.360101e+10,2,37104.0,94280527.0,1.363130e+09,1.457411e+09,0
5,3.360101e+10,2,253983.0,60009249.0,5.552080e+08,6.152172e+08,0
6,3.360101e+10,2,128360.0,101681858.0,5.530412e+08,6.547231e+08,0
7,3.360101e+10,1,86399.0,38575279.0,2.940851e+08,3.326604e+08,0
8,3.360101e+10,2,495702.0,93572016.0,8.965602e+08,9.901322e+08,0
9,3.360102e+10,1,124854.0,47091008.0,6.853728e+08,7.324638e+08,0
10,3.360102e+10,1,248424.0,35502671.0,7.947336e+07,1.149760e+08,0
11,3.360102e+10,1,38416.0,48882819.0,5.812096e+08,6.300924e+08,0
12,3.360102e+10,1,97363.0,55651065.0,4.267680e+08,4.824191e+08,0
13,3.360102e+10,1,242317.0,50643116.0,3.082688e+08,3.589119e+08,0
14,3.360103e+10,1,169979.0,44980549.0,1.853438e+08,2.303244e+08,0
15,3.360103e+10,1,34544.0,24173758.0,5.176062e+08,5.417800e+08,0
16,3.360103e+10,1,91753.0,35589503.0,6.619702e+08,6.975597e+08,0
17,3.360103e+10,1,55730.0,40923152.0,5.961299e+08,6.370531e+08,0
18,3.360103e+10,1,21785.0,31967475.0,6.864849e+08,7.184524e+08,0
19,3.360103e+10,1,74893.0,46285839.0,6.009179e+08,6.472037e+08,0
20,3.360103e+10,2,73674.0,81019849.0,1.551741e+09,1.632761e+09,0
21,3.360103e+10,2,226752.0,86263137.0,1.036599e+09,1.122863e+09,0
22,3.360104e+10,1,135664.0,35349417.0,3.836424e+08,4.189918e+08,0
23,3.360104e+10,1,100371.0,26769905.0,1.324946e+08,1.592645e+08,0
24,3.360104e+10,1,98337.0,25271829.0,4.356145e+08,4.608863e+08,0
25,3.360104e+10,1,79098.0,35246058.0,5.644878e+08,5.997338e+08,0
26,3.360104e+10,1,82844.0,33065820.0,8.136280e+08,8.466939e+08,0
27,3.360104e+10,1,253872.0,38908309.0,2.331130e+08,2.720213e+08,0
28,3.360105e+10,1,31778.0,53507118.0,1.969339e+08,2.504410e+08,0
29,3.360105e+10,3,162176.0,128088159.0,1.811439e+09,1.939527e+09,0
30,3.360105e+10,1,29046.0,53601906.0,1.217811e+08,1.753830e+08,0
31,3.360105e+10,2,138731.0,122432311.0,2.913597e+08,4.137920e+08,0
32,3.360106e+10,1,93304.0,65061035.0,7.216173e+08,7.866783e+08,0
33,3.360106e+10,2,329753.0,93715624.0,1.356137e+09,1.449853e+09,0
34,3.360106e+10,2,205408.0,59420838.0,4.022140e+08,4.616349e+08,0
35,3.360106e+10,1,170907.0,37265669.0,5.601469e+08,5.974126e+08,0
36,3.360106e+10,1,10532.0,25261489.0,7.444547e+08,7.697162e+08,0
37,3.360106e+10,2,139774.0,62675435.0,1.039933e+09,1.102609e+09,0
38,3.360107e+10,1,186444.0,46683340.0,6.740829e+08,7.207662e+08,0
39,3.360107e+10,1,12842.0,36001709.0,6.565968e+08,6.925985e+08,0

In [109]:
print('sorted by session duration')
sorted_dur.head(10)

,MSISDN/Number,Session count,session_duration,Total UL (Bytes),Total DL (Bytes),total_traffic (Bytes),engagement group
62384,4.188282e+10,1066,7.255100e+07,4.436642e+10,4.873783e+11,5.317447e+11,1
5924,3.362578e+10,16,1.833709e+07,6.911395e+08,6.914135e+09,7.605275e+09,2
2930,3.361489e+10,16,9.794111e+06,6.417488e+08,7.966530e+09,8.608279e+09,2
48454,3.376054e+10,15,9.279434e+06,7.034786e+08,7.811295e+09,8.514774e+09,2
33202,3.366716e+10,13,8.744914e+06,5.663264e+08,5.052068e+09,5.618394e+09,2
6084,3.362632e+10,14,8.216094e+06,5.375867e+08,5.459097e+09,5.996684e+09,2
25195,3.366284e+10,9,6.614270e+06,4.064244e+08,3.593674e+09,4.000098e+09,2
455,3.360313e+10,11,6.128414e+06,4.147042e+08,4.331430e+09,4.746134e+09,2
28667,3.366469e+10,8,6.088792e+06,3.566567e+08,4.401306e+09,4.757963e+09,2
33705,3.366746e+10,6,5.649882e+06,2.662226e+08,2.334299e+09,2.600522e+09,2